*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'DynaPuff', 'cursive';
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#ff702a;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color: #fff;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
  
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);

}
.logo{
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.4rem;
}
.logo span{
    color: var(--main-color);
    font-weight: 300;
    font-size: 1.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
#menu-icon:active{
    display: block;
}
section{
    padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
max-width: 100%;
width: 600px;
height: auto;
}
.home-text h3{
    color: var(--main-color);
}
.home-text p{
   font-size: 18px;
    margin: 1rem 0 2rem;
    word-spacing: 2px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    transition: 1s;
}
.btn:hover{
    border-radius: 1rem;
    transition: 1s;
}

.about{
    display: grid;
    grid-template-columns:repeat(2,2fr) ;
    grid-gap:1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
  .head-about{
        text-align: center;
        color: var(--main-color);
        font-weight: 600;
     
     
}
.border{
  
  margin-top: 5px;
  margin-bottom: 13px;
    border-bottom: 1px solid var(--main-color);
}
.about-text h2{
    font-size: 16px;

}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}
.about-vir{
    color: var(--main-color);
}

.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}
.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);

}
.col ul li:not(last-child){
    margin-bottom: 15px;
}
.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}
.col ul li a:hover{
    color: var(--text-color );
    transform: translateX(-12px);

}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}

.box img{
    height: auto;
    width: 110px;
    margin-bottom:20px ;
}
.box{
    padding: 25px 60px;
    border: 1px solid #e9ecef;
    border-radius: 20px;
   
    box-shadow: -11.729px -11.729px 32px rgb(255, 255, 255/15%);
    transition: all .40s ease;

}
.box:hover{
    transform: translateY(-15px);
}
.box h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.3;
    transition: all .40s ease;
}
.box h3:hover{
    color: var(--main-color);

}
.box p{
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
}
.main-btn{
    text-align: center;
    margin-top: 5rem;
}
.btn{
display: inline-block;
padding: 16px 30px;
font-size: var(--p-font);
font-weight: 700;
background: var(--main-color);
color: var(--bg-color);
border-radius: 30px;
transition: all .40s ease;
}
.btn:hover{
    transform: scale(0.9) translateY(-5px);
}
.courses{
    background: url(img/coursebg.png);
    background-size: cover;
    background-position: center;
}

.courses-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,auto));
    gap: 2rem;
    align-items: center;
    margin-top:4rem ;
    cursor: pointer;
    border-radius: 15px;
}

.row{
    background: var(--bg-color);
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
    transition: all .40s ease;
}
.row:hover{
    transform: translateY(-15px);
}
.row img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.courses-text{
    padding: 35px 20px;
}
.courses-text h5{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
}
.courses-text h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 15px 0 15px;
    transition: all .40s ease;
}
.courses-text h3:hover{
    color: var(--main-color);
}
.courses-text h6{
    color: #696969;
    font-size: var(--p-font);
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.star i{
    color: var(--main-color);
    margin-right: 2px;
    font-size: 17px;
}




@media(max-width:1560px){
header{
    padding: 15px 40px;
}
:root{
    --big-font:3.5rem;
    --h2-font:2rem;
}
}

@media(max-width:1140px){
    section{
        padding: 50px 8%;
    }
    #menu-icon{
        display: initial;
        color: var(--text-color);
    }
    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: .3s;
    }
    header.navbar:active{
        top:70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}
@media(max-width:720px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns:1fr ;
        text-align: center;
    }
    .about{
        grid-template-columns:1fr ;
        text-align: center; 
    }
    .about-img{
        order: 2;
    }
    section{
        padding: 100px 7%;
    }
}
@media(max-width:575px){
.col{
    width: 100%;
}
}


























